.box-tabela-especialista {
    display: flex;
    height: 240px;
    padding: 0 20px;
  }


.box-tabela-especialista img {
    width: 30%;
    height: 100%;
    object-fit: cover;
  }

.tabela-especialistas {
    border-spacing: 0;
    text-align: left;
    width: 70%;
    height: 100%;
  }
  @media (max-width: 768px) {
    .box-tabela-especialista img {
      display: none;
    }
}
@media ( max-width: 425px) {
    .box-tabela-especialista {
      padding: 0;
    }
  }
  .tabela-especialistas thead tr {
    color: #fff;
  }
  .tabela-especialistas tr {
    background-color: #f1f1f1;
    color: #585757;
    font-weight: 500;
  }
  .tabela-especialistas tbody tr:nth-of-type(2n+1) {
    background-color: #cdcdcd;
    border: 1px solid #f1f1f1;
  }
  .tabela-especialistas th, .tabela-especialistas td  {
    padding: 10px;
  }